<nav [class.menu-fixo]="fixarMenu">
    <ul class="titulo">
        <i class="fa fa-grav" aria-hidden="true"></i><a [class.link-visivel]="fixarMenu">NBM Informatica</a>
    </ul>
    <ul>
        <li class="cadastros">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label 
                class="label-cadastro"
                [class.label-cadstros-visivel]="fixarMenu"
                for="cadastros"
                (click)="mudarEstadoMenuCadastros()">Cadastros
                    <i class="fa fa-caret-down" aria-hidden="true" [class.seta-baixo-cadastro]="!subMenuCadastros"></i>
                    <i class="fa fa-caret-up" aria-hidden="true" [class.seta-cima-cadastro]="subMenuCadastros"></i>
            </label>

            <ul 
            class="subitem-cadastros" 
            [class.subitem-cadastros-visivel]="fixarMenu"
            [class.subMenu-open]="subMenuCadastros" 
            [class.subMenu-close]="!subMenuCadastros">
                    <li routerLink="/cadastro-pessoa">Cliente</li>
                    <li><a>Fornecedor</a></li>
                    <li><a>Transportadora</a></li>
                    <li><a>Produtos</a></li>
            </ul>  
        </li>

        <li class="vendas">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <label 
                class="label-vendas"
                [class.label-vendas-visivel]="fixarMenu"
                for="vendas"
                (click)="mudarEstadoMenuVendas()">Vendas
                    <i class="fa fa-caret-down" aria-hidden="true" [class.seta-baixo-venda]="!subMenuVendas"></i>
                    <i class="fa fa-caret-up" aria-hidden="true" [class.seta-cima-venda]="subMenuVendas"></i>
            </label>

            <ul class="subitem-vendas" 
                [class.subitem-vendas-visivel]="fixarMenu"
                [class.subMenu-open]="subMenuVendas"
                [class.subMenu-close]="!subMenuVendas">
                <li><a>Nova Venda</a></li>
                <li><a>Histórico</a></li>
            </ul>
        </li>
    </ul>

    <i  class="fa fa-lock cadeado-trancado" aria-hidden="true"
        [class.cadeado-trancado-invisivel]="fixarMenu"
        aria-hidden="true" 
        (click)="fixarMenuAberto()"
    ></i>

     <i class="fa fa-unlock-alt cadeado-destrancado" aria-hidden="true"
        [class.cadeado-destrancado-invisivel]="!fixarMenu"
        aria-hidden="true"
        (click)="fixarMenuAberto()"
      ></i>
</nav>

<div class="div-principal" [class.div-principal-responsiva]="fixarMenu"> 
    <router-outlet></router-outlet>
</div>

