<nav>
    <ul class="titulo">
        <i class="fa fa-grav" aria-hidden="true"></i><a>NBM Informatica</a>
    </ul>
    <ul>
        <li class="cadastros">
            <i class="fa fa-user" aria-hidden="true"></i><label for="cadastros">Cadastros</label>
            <input id="cadastros" type="checkbox">
            <ul class="subitem-cadastros">
                <li><a>Cliente</a></li>
                <li><a>Fornecedor</a></li>
                <li><a>Transportadora</a></li>
                <li><a>Produtos</a></li>
            </ul>
        </li>
        <li class="vendas">
            <i class="fa fa-file-text-o" aria-hidden="true"></i><label for="vendas">Vendas</label>
            <input id="vendas" type="checkbox">
            <ul class="subitem-vendas">
                <li><a>Nova Venda</a></li>
                <li><a>Histórico</a></li>
            </ul>
        </li>
    </ul>

</nav>

