<nav #menuNavegacao>
    <ul class="titulo">
        <i class="fa fa-grav" aria-hidden="true"></i><a>NBM Informatica</a>
    </ul>
    <ul>
        <li class="cadastros">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label 
                class="label-cadastro"
                for="cadastros"
                (click)="mudarEstadoMenuCadastros()">Cadastros
                    <i class="fa fa-caret-down" aria-hidden="true" [class.seta-baixo-cadastro]="!subMenuCadastros"></i>
                    <i class="fa fa-caret-up" aria-hidden="true" [class.seta-cima-cadastro]="subMenuCadastros"></i>
            </label>

            <ul 
            class="subitem-cadastros" 
            [class.subMenu-open]="subMenuCadastros" 
            [class.subMenu-close]="!subMenuCadastros">
                    <li routerLink="/clientes">Cliente</li>
                    <li><a>Fornecedor</a></li>
                    <li><a>Transportadora</a></li>
                    <li><a>Produtos</a></li>
            </ul>  
        </li>

        <li class="vendas">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <label 
                class="label-vendas"
                for="vendas"
                (click)="mudarEstadoMenuVendas()">Vendas
                    <i class="fa fa-caret-down" aria-hidden="true" [class.seta-baixo-venda]="!subMenuVendas"></i>
                    <i class="fa fa-caret-up" aria-hidden="true" [class.seta-cima-venda]="subMenuVendas"></i>
            </label>

            <ul class="subitem-vendas" 
            [class.subMenu-open]="subMenuVendas"
            [class.subMenu-close]="!subMenuVendas">
                <li><a>Nova Venda</a></li>
                <li><a>Histórico</a></li>
            </ul>
        </li>
    </ul>

</nav>

