
/* ~ ~ ~ NAV CSS ~ ~ ~ */
nav{
    position: fixed;
    background-color: #1abc9c;
    width: 40px;
    height: 100vh;
    transition: .5s;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: white;
}

nav .titulo {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #16a085;
    color: white;
    border-bottom: 1px solid white;
}

nav .titulo a {
    position: fixed;
    display: none;
    margin-left: 15px;
    font-size: 20px;
}

nav .cadastros label{
    font-size: 20px;
    position: absolute;
    display: none;
    margin-left: 15px;
    cursor: pointer;
}

nav .vendas label{
    position: absolute;
    display: none;
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
}

nav i{
    font-size: 25px;
    margin-left: 10px;
}

/* ~ ~ ~ CLASSE CADASTROS CSS ~ ~ ~ */
.cadastros{
    list-style: none;
    margin-top: 25px; 
    color: white;
}


/* ~ ~ ~ CLASSE VENDAS CSS ~ ~ ~ */

.vendas{
    list-style: none;
    margin-top: 25px; 
    color: white;
}

.vendas a {
    margin-left: 10px;
    font-size: 20px;
}

/* ~ ~ ~ CLASSE SUBITENS CSS ~ ~ ~ */

.subitem-cadastros{
    display: none;
}

.subitem-cadastros li{
    padding: 20px;
    border-bottom: 1px solid white;  
    cursor: pointer;
}

.subitem-cadastros li a{
    font-size: 16px;
    
}

.subitem-cadastros li:first-child{
    border-top: 1px solid white;  
    margin-top: 10px;
}

.subitem-cadastros li{
    border-bottom: 1px solid white;  
}

.subitem-vendas{
    display: none;
}

.subitem-vendas li{
    z-index: 1;
    padding: 20px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.subitem-vendas li:first-child{
    border-top: 1px solid white;  
    margin-top: 10px;
}

.subitem-vendas li a{
    font-size: 16px;
}


/* ~ ~ ~ CSS EM TAGS: HOVER ~ ~ ~ */
nav:hover {
    width: 280px;
}

nav:hover .titulo a{
    display: inline-block;
    transition: 1s;
}

nav:hover .cadastros label{
    display: inline-block;
}

nav:hover .vendas label{
    display: inline-block;
}

nav:hover .cadastro-link{
    display: block;
}

nav:hover .venda-link{
    display: block;
}

.subitem-cadastros li:hover{
    background-color: #16a085;
    transition: 1s;
}

.vendas li:hover{
    background-color: #16a085;
    transition: 1s;
}

nav label:hover{
    color: #95a5a6 ;
    transition: .5s;

}



/* ~ ~ ~ MENU OPEN/CLOSE CSS ~ ~ ~ */

.cadastros:hover .subitem-cadastros{
    display:block
}

.vendas:hover .subitem-vendas{
    display: block;
}





