
/* ~ ~ ~ NAV CSS ~ ~ ~ */
nav{
    position: fixed;
    background-color: #1abc9c;
    width: 40px;
    height: 100vh;
    transition: .5s;
    z-index: 1;

}

nav a {
    text-decoration: none;
    color: white;
}

nav .titulo {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #16a085;
    color: white;
    border-bottom: 1px solid white;
}

nav .titulo .link-visivel{
   opacity: 1;
}

nav .titulo a {
    position: fixed;
    opacity: 0;
    margin-left: 15px;
    font-size: 20px;
}


nav .cadastros label{
    font-size: 20px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    margin-left: 15px;
    cursor: pointer;
}

nav .cadastros .label-cadstros-visivel{
    opacity: 1;
}

nav .vendas label{
    position: absolute;
    opacity: 0;
    pointer-events: none;
    margin-left: 15px;
    cursor: pointer;
    font-size: 20px;
}

nav .vendas .label-vendas-visivel{
    opacity: 1;
}

nav i{
    font-size: 25px;
    margin-left: 10px;
}

/* ~ ~ ~ CLASSE CADASTROS CSS ~ ~ ~ */
.cadastros{
    list-style: none;
    margin-top: 25px; 
    color: white;
}


/* ~ ~ ~ CLASSE VENDAS CSS ~ ~ ~ */

.vendas{
    list-style: none;
    margin-top: 25px; 
    color: white;
}

.vendas a {
    margin-left: 10px;
    font-size: 20px;
}

/* ~ ~ ~ CLASSE SUBITENS-CADASTROS CSS ~ ~ ~ */

.subitem-cadastros{
  display: none;
}
.subitem-cadastros-visivel{
    display: block;
}

.subitem-cadastros li{
    padding: 20px;
    border-bottom: 1px solid white;  
    cursor: pointer;
}

.subitem-cadastros li a{
    font-size: 16px;
    
}

.subitem-cadastros li:first-child{
    border-top: 1px solid white;  
    margin-top: 10px;
}

.subitem-cadastros li{
    border-bottom: 1px solid white;  
}

/* ~ ~ ~ CLASSE SUBITENS-VENDAS CSS ~ ~ ~ */

.subitem-vendas{
    display: none;
}
.subitem-vendas-visivel{
    display: block;
}

.subitem-vendas li{
    z-index: 1;
    padding: 20px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.subitem-vendas li:first-child{
    border-top: 1px solid white;  
    margin-top: 10px;
}

.subitem-vendas li a{
    font-size: 16px;
}


/* ~ ~ ~ CSS EM TAGS: HOVER ~ ~ ~ */
nav:hover {
    width: 280px;
}

nav:hover .subMenu-open{
    display: block;
}

nav:hover .subMenu-close{
    display: block;
}

nav:hover .titulo a{
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}

nav:hover .cadastros label{
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}

nav:hover .vendas label{
    opacity: 1;
    transition: .5s;
    pointer-events: all;
}

nav:hover .cadastro-link{
    display: block;
}

nav:hover .venda-link{
    display: block;
}


nav:hover .subitem-cadastros{
    display: visible;
}

.subitem-cadastros li:hover{
    background-color: #16a085;
    transition: 1s;
}

.vendas li:hover{
    background-color: #16a085;
    transition: 1s;
}

nav label:hover{
    transition: .5s;

}

/* ~ ~ ~ MENU OPEN/CLOSE CSS ~ ~ ~ */

.subMenu-close{
    overflow:hidden;
    max-height: 0px;
    transition: max-height 1s ease-in-out;
}

.cadastros .label-cadastro i{
    display: none;
}

.vendas .label-vendas i{
    display: none;
}

/* ~ ~ ~ ICONES SETAS MENU CSS ~ ~ ~ */

.cadastros .label-cadastro .seta-baixo-cadastro{
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
}

.cadastros .label-cadastro .seta-cima-cadastro{
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
}

.vendas .label-vendas .seta-baixo-venda{
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
}

.vendas .label-vendas .seta-cima-venda{
    font-size: 20px;
    position: absolute;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
}

nav .seta-menu-direita{
    color: white;
    padding-bottom: 15px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid white;
    width: 100%;
    margin:0;
    padding-left: 10px;
    padding-top: 10px;
}


nav .seta-menu-esquerda{
    color: white;
    padding-bottom: 15px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid white;
    width: 100%;
    margin:0;
    padding-left: 10px;
    padding-top: 10px;
}

.seta-menu-esquerda-invisivel{
    display: none;
}

.seta-menu-direita-invisivel{
    display: none;
}

.menu-fixo {
    width: 280px;
}

.label-menu-fixo{
    opacity: 1;
}

.div-principal{
    width: calc(100% - 40px);
    margin-left:40px; 
    padding:20px;
    transition: .5s;
}

.div-principal-responsiva{
    width: calc(100% - 300px);
    margin-left: 300px; 
    padding:20px;
    transition: .5s;
}
