<div class="cadastro-content">
<h1>Tipos de Pessoa</h1>
<div class="inputs">

    <div class="cliente">
        <label for="cliente">Cliente</label>
        <input type="checkbox" #inputCliente id="cliente" (click)="mostrarEsconderCliente()">
    </div>

    <div class="fornecedor">
        <label for="fornecedor">Fornecedor</label>
        <input type="checkbox" #inputFornecedor id="fornecedor" (click)="mostrarEsconderFornecedor()">
    </div>

    <div class="transportadora">
        <label for="transportadora">Transportadora</label>
        <input type="checkbox" #inputTransportadora id="transportadora" (click)="mostrarEsconderTransportadora()">
    </div>   
</div> 

<div *ngIf="cliente; else cadastroCliente;"></div>
<div *ngIf="fornecedor; else cadastroFornecedor"></div>
<div *ngIf="transportadora; else cadastroTransportadora"></div>

<ng-template #cadastroCliente>

    <div class="info-cadastro-content"> 
        <input id="input-nome" type="text" placeholder="Nome">

        <input id="input-email" type="text" placeholder="Email">

        <input id="input-id" type="text" placeholder="Id">

        <input id="input-apelido" type="text" placeholder="Apelido">

        <input id="input-cpf" placeholder="CPF" type="text">
   </div>

</ng-template>

<ng-template #cadastroFornecedor>

    <div class="info-cadastro-content"> 

        <input id="input-nome" type="text" placeholder="Nome">

        <input id="input-email" type="text" placeholder="Email">

        <input id="input-grupo" type="text" placeholder="Grupo">

        <input id="input-id" type="text" placeholder="Id">

        <input id="input-apelido" type="text" placeholder="Apelido">

        <input id="input-cpf" placeholder="CPF" type="text">
        
   </div>
</ng-template>


<ng-template #cadastroTransportadora>

    <div class="info-cadastro-content">
        <input id="input-nome" type="text" placeholder="Nome">

        <input id="input-email" type="text" placeholder="Email">

        <input id="input-razao-social" type="text" placeholder="Razão Social">

        <input id="input-id" type="text" placeholder="Id">

        <input id="input-apelido" type="text" placeholder="Apelido">

        <input id="input-npj" placeholder="CNPJ" type="text">
    </div>
</ng-template>

<button class="button-cadastro">Cadastrar</button>
<button class="button-voltar">Voltar</button>
</div>